
#main-map{
  height: 305px;
  width: 305px;
  border: 2px solid grey;
}

body{
  background-image: url("/World.png");
  background-size: cover;
}

li{
  color: black;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#box{
  width: 305px;
  margin: auto;
  padding-top: 10%;
  align-content: center;
}
